@include font-face("pixel_cyrnormal", '../fonts/rlragd94-webfont')

html
    margin: 0
    padding: 0

    body
        min-width: 1024px
        margin: 0
        margin: 0 auto
        padding: 0

        color: #ffffff
        background: #da641a

        font: 20px "PT Mono"

h1, h2
    text-align: center

    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.72)

    font-family: "pixel_cyrnormal"

header
    position: relative

    padding-top: 80px

    text-align: center

    border-bottom: solid 8px #1cb34d
    background: #2b5cfc
    background: linear-gradient(180deg, #0000ff, #94c6fd)

main
    padding-top: 80px

    background: linear-gradient(180deg, #ae340a, #fcb945)

footer
  text-align: center

  color: #000000

  font-size: 16px
  line-height: 1.6

footer a
  color: #000000

footer p
  margin-bottom: 0
  padding-bottom: 20px
