@include font-face("pixel_cyrnormal", '../fonts/rlragd94-webfont')

html
    margin: 0
    padding: 0

    body
        margin: 0
        padding: 0
        min-width: 1024px
        margin: 0 auto
        font: 20px "PT Mono"
        color: #ffffff
        background: #da641a

h1, h2
    font-family: "pixel_cyrnormal"
    text-align: center
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.72)

header
    position: relative
    padding-top: 80px
    text-align: center
    background: #2b5cfc
    background: linear-gradient(180deg, #0000ff, #94c6fd)
    border-bottom: solid 8px #1cb34d

main
    padding-top: 80px
    background: linear-gradient(180deg, #ae340a, #fcb945)

footer
  font-size: 16px
  line-height: 1.6
  text-align: center
  color: #000000

footer a
  color: #000000

footer p
  margin-bottom: 0
  padding-bottom: 20px
