.header
    &-clouds
        position: absolute
        top: 0
        right: 0
        left: 0
        z-index: 0
        height: 363px
        background: url("../img/clouds.png") top center repeat-x

    &-fence
        position: absolute
        bottom: 0
        left: 50%
        width: 91px
        height: 48px
        margin-left: -400px
        background: url("../img/fence.gif") no-repeat

    &-tree
        position: absolute
        bottom: 0
        left: 50%
        width: 120px
        height: 137px
        margin-left: 300px
        background: url("../img/tree.gif") no-repeat

    &-soon
        position: relative
        z-index: 1
        font-size: 26px
        font-family: "pixel_cyrnormal"
        color: #ffffff
        color: rgba(255, 255, 255, 0.6)

    &-title
        position: relative
        z-index: 1
        margin: 0 0 28px
        padding: 0
        font-size: 69px

    &-description
        position: relative
        z-index: 1
        width: 620px
        margin: 0 auto
        font-size: 20px
        line-height: 1.5

.demo
    width: 700px
    height: 300px
    margin: 0 auto
