.reviews-controls
    text-align: center

    &-item
        display: inline-block
        vertical-align: middle
        cursor: pointer

    &-more
        margin-right: 26px
        padding: 0 30px
        font-weight: bold
        font-size: 20px
        line-height: 55px
        color: #000000
        background: #ffffff
        box-shadow: 5px 5px 0 rgba(0, 0, 0, 1)

    &-new
        padding: 0 18px
        font-size: 18px
        line-height: 36px
        color: #000000
        border: solid 1px
