.review-form
    position: relative
    width: 510px
    margin: 100px auto
    padding: 0 10px
    text-align: left

    &-close
        position: absolute
        top: -5px
        right: 0
        padding: 0 10px
        font-size: 45px
        text-align: center
        cursor: pointer

    &-group
        margin: 0
        margin-bottom: 15px
        padding: 0
        border: 0

        &-mark input[type=radio]
            position: absolute
            visibility: hidden

    &-label
        font-size: 20px
        line-height: 1.6

    &-field
        padding: 5px
        font: 20px/1.5 "PT Mono"
        color: #000000
        background: #ffffff
        border: 0

        &-name
            width: 15em

    &-controls
        white-space: nowrap

    &-control
        display: inline-block
        vertical-align: top


.review-mark-label
    display: inline-block
    margin: 0 10px
    color: #ffffff

input[type=radio]:checked + .review-mark-label
    margin: 0
    padding: 0 10px
    color: #000000
    background: #ffffff
    border-radius: 0

.review-submit
    margin-right: 20px
    padding: 0 16px
    font: bold 20px "PT Mono"
    line-height: 54px
    background: #ffffff
    border: 0

.review-fields
    font-size: 16px
    color: #ffffff
    color: rgba(255, 255, 255, 0.6)
    white-space: normal

    &-label
        text-decoration: underline
        cursor: pointer

.review-form-title
  font-family: "PT Mono"
  text-align: left
