.review-quiz
    font-size: 15px
    color: #ffffff
    color: rgba(255, 255, 255, 0.5)

    &-answer
        display: inline-block
        margin: 0 5px
        vertical-align: middle
        text-decoration: underline
        cursor: pointer

        &-active
            color: #ffffff
            text-decoration: none
            cursor: default
